.displayNone {
	display: none;
}

.caps {
	text-transform: capitalize;
}

.floatRight {
	float: right;
}

.floatLeft {
	float: left;
}

.textRight {
	text-align: right;
}

.textLeft {
	text-align: left;
}

.textCenter {
	text-align: center;
}

.marginHeadBtn {
	margin: -7px; 
}

/*.nav-pills .nav-link.active {
	background-color: #17a2b8;
}*/

.loaderDiv, .errorDiv {
	position: fixed;
	height: 100vh;
	width: 100%;
	z-index: 100000;
	display: none;
}

.errorDiv {
	background-color: aliceblue;
}

.spinnerDiv {
	position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}

.errorMsg {
	line-height: 100vh;
	text-align: center;
}

.ticketsTable .alert, .ticketsTable .btn-moreModal,.ticketsTable .btnCustom {
	padding:  0 10px !important;
	margin: 0;
}

.cardFirst {
	margin-top: .75rem !important;
}

.cardFirst .card-body {
	padding: 0.5rem 1rem !important;
}

.table {
	margin-top: 0 !important;
}
.card-body {
	padding: 0px !important;
}
.sendCC {
	margin: 10px;
	float: right;
}

.width100px {
	width: 100px;
}

.conversationLink:hover {
	cursor: pointer;
}

.container-fluid {
	padding-left: .75rem !important;
	padding-right: .75rem !important;
}

.mb-3 {
	margin-bottom: .75rem !important;
}

.divLink {
	width: 70px;
	margin: 0 auto !important;
}

.btn-moreModal:focus {
	box-shadow: none !important;
}

.customBG {
	background-color: rgb(54, 127, 238);
}

.bold {
	font-weight: bold;
}

.width50 {
	width: 50% !important;
}

.modalBodyPad {
	padding: 15px 8%;
}

.colorLight {
	color: #d3d3d3;
}

.buttonDeleteLink:focus {
	outline: none !important;
}